
body{
    font-family: 'Permanent Marker', cursive;
    color: white;
}

.shake {
    text-align: center;
    color: white;
    font-size: 48px;

	        animation: shake 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes shake {
    0%,
    100% {
              transform: rotate(0deg);
     
              transform-origin: 50% 50%;
    }
    10% {
     
              transform: rotate(8deg);
    }
    20%,
    40%,
    60% {
      
              transform: rotate(-10deg);
    }
    30%,
    50%,
    70% {
     
              transform: rotate(10deg);
    }
    80% {
      
              transform: rotate(-8deg);
    }
    90% {
     
              transform: rotate(8deg);
    }
  }
  



.container{
    display: flex;
     justify-content: center;
     
}

.container1{
    display: flex;
     justify-content: center;
     
}

.game{
    border: 1px solid white;
     z-index: 0;
     
}

.back{  
position:absolute;
top:0;
left:0;
background-color:black;
z-index:-1;
}
    
    

body{
    margin: 0; 
}
button{
    background-color: white;
    color: red;
    
  
    
}


.container3{
    display: flex;
    justify-content: center;
}
