


h1{
    text-align: center;
    color: white;
    font-size: 48px;
}



.container{
    display: flex;
     justify-content: center;
     
}

.container1{
    display: flex;
     justify-content: center;
     
}

.game{
    border: 1px solid white;
     z-index: 0;
     
}

.back{  
position:absolute;
top:0;
left:0;
background-color:black;
z-index:-1;
}
    
    

body{
    margin: 0; 
}
button{
    background-color: white;
    color: red;
    
  
    
}


.container3{
    display: flex;
    justify-content: center;
}
